<table class="table">
    <thead>
        {{#if columns.hasLabels}}
        <tr>
            <th>#</th>
            {{#each columns}}
                <th>
                    <a class="col-header" data-sort-field="{{target}}" data-sort-order="any">{{label}}</a>
                    <i class="fa fa-sort"></i>
                </th>
            {{/each}}
        </tr>
        {{/if}}
    </thead>
    <tbody>
        {{#each rows}}
            <tr>
                <td>{{@index}}</td>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
<ul class="pagination">
    <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
    {{#each pagination.pages}}
        {{#if current}}
            <li class="active"><a href="#" data-page-number="{{value}}">{{label}}</a> </li>
        {{else}}
            <li><a href="#" data-page-number="{{value}}">{{label}}</a> </li>
        {{/if}}
    {{/each}}
    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
</ul>